<div *ngFor="let buyer of this.buyers" class="container-fluid">
    <div class="col-xs-12 col-xl-12 headerBlock pointerCursor" (click) = "showBuyerDetail(buyer._id)">
        <a>{{buyer.firstName}} {{buyer.lastName}}</a> 
        
    </div>
    <div [hidden] = "!buyer.showDetail" class="boxBlock">
        <div class="col-xs-12 col-xl-12">
                <label>Phone No: </label> 
            <label>{{buyer.phoneNumber}}</label> 
            <i class="fa fa-pencil pull-right pointerCursor"></i>
        </div>
        <div class="col-xs-12 col-xl-12">
                <label>Addres: </label> 
            <label>{{buyer.city}} {{buyer.state}}</label> 
        </div>
        <div class="row">
            <div class="col-xs-5 col-xl-5 spaceAround">
                    <button class="btn btn-primary  btn-block" (click)="approveBuyer(buyer._id)">
                            <i *ngIf="this.showApproveSpinner" class="fa fa-spinner fa-spin pull-right "></i> Approve
                        </button>
            </div>
            <div class="col-xs-5 col-xl-5 col-lg-5 spaceAround">
                    <input class="btn btn-danger btn-block" (click)="rejectBuyer(buyer._id)" value="Reject" type="button"> 
                </div>
        </div>
        
    </div>
</div>
<app-alert-modal [alertModel] = "this.alertModal"></app-alert-modal>
