<div id="navHeaderDiv" style="" *ngIf="nav.visible">
    <div class="csNavBarHeader" >
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand csNavFont" [routerLink]="['/ContentUpload']">Seller ECom</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarCategoryMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Content
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarContentMenuLink">
                            <a class="dropdown-item" [routerLink]="['/MainContentUpload']">Main Content</a>
                            <a class="dropdown-item" [routerLink]="['/SubContentUpload']">Sub Content</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/Buyer/ApprovalRequest']">
                            <span >Approval Request</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/Buyer/Approved']">
                            <span >Approved Buyers</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarCategoryMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Category
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarCategoryMenuLink">
                            <a class="dropdown-item" [routerLink]="['/Category']">Add Category</a>
                            <a class="dropdown-item" [routerLink]="['/SubCategory']">Add SubCategory</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>