<form [formGroup]="uploadMainContentForm" novalidate>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-xs-3">
        <div class="row">
          <div class="col-md-5 col-xs-3">
            <label class="center-block">Main Category:</label>
          </div>
          <div class="col-md-7 col-xs-9">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{this.mainCatSelectedData}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item" *ngFor="let mainCategory of mainCategories" (click)="onMainCategoryChange(mainCategory)">{{mainCategory.categoryName}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-3">
        <div class="row">
          <div class="col-md-5 col-xs-3">
            <label class="center-block">Sub Category:</label>
          </div>
          <div class="col-md-7 col-xs-9">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" ngbDropdownToggle>{{this.subCatSelectedData}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item" *ngFor="let subCategory of subCategories" (click)="onSubCategoryChange(subCategory)">{{subCategory.subCategoryName}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-xs-3">

      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-xs-8">
        <input class="form-control required" required placeholder="Image Name" formControlName="mainContentName" type="text">
        <div *ngIf="uploadMainContentForm.controls['mainContentName'].errors
                  && !uploadMainContentForm.controls['mainContentName'].pristine" class="alert alert-danger">
          <div [hidden]="!uploadMainContentForm.controls['mainContentName'].errors.required">
            Please enter Image Name
          </div>
        </div>
      </div>
      

      <div class="col-md-3">
        <div class="custom-file ">
          <input type="file" class="custom-file-input" id="mainFile" (change)="mainContentImageUpload($event.target.files)">
          <label class="custom-file-label" for="inputGroupFile04">Upload Main Image</label>
        </div>

      </div>

      <div class="col-md-5">

      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-8">
        <input class="btn btn-primary" value="Upload Main Content" [disabled]='!uploadMainContentForm.valid' (click)="uploadMainContentSubmit(uploadMainContentForm)" type="submit">
      </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8" *ngIf="this.content?.mainContentImage">
            <img class="img-responsive" [src]="this.content?.mainContentImage">

        </div>
    </div>
  </div>
</form>
<app-alert-modal [alertModel]="this.alertModal"></app-alert-modal>