<form [formGroup]="subCategoryForm"  novalidate>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <label class="center-block">Main Category:</label>
      </div>
      <div class="col-md-4 ">
       
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{this.mainCatSelectedData}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item" *ngFor="let mainCategory of mainCategories" (click)="onMainCategoryChange(mainCategory)">{{mainCategory.categoryName}}</button>
            </div>
          </div>
      </div>
      <div class="col-md-2">
      </div>

    </div>
    <div class="row">
      <div class="col-md-2">
        <label class="center-block">Sub Category Name:</label>
      </div>
      <div class="col-md-4">

        <input class="form-control required" required formControlName="subCategoryName" type="text">
      </div>
      <div class="col-md-2">
        <input class="btn btn-primary" value="Add" type="button" [disabled]='!subCategoryForm.valid' (click)="subCategorySubmit(subCategoryForm)">
      </div>
    </div>
  </div>
</form>
<app-alert-modal [alertModel]="this.alertModal"></app-alert-modal>